@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */

li,
a,
button {
  color: black;
  font-weight: 500;
  font-size: 1em;
  list-style: none;
  text-decoration: none;
}

body {
  background: #2a81cf;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  margin: 0px;
  text-align: center;
  overflow-x: hidden;
}

.content_container{
  margin: auto;
  display:flex;
  flex-direction: column;
  padding-top:10vh;
}

/*navigation bar */

nav{
  display:flex;
  width:100vw;
  position:fixed;
  top: 0;
  z-index: 1000;
  
}

.quote{
  background: #fff;
  width:50vw;
  height:10vh;
  padding: 2rem 0;
  padding-left: 2vw;
  text-align:left;
  font-size: 2em;

}
.nav-list {
  background: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  width: 50vw;
}
.nav-list li{
  padding-right: 5vw;
}

.nav-item a:hover {
  color: #ff6100;
  transition: all 200ms ease-in;
}
.nav-item {
  margin-right: 2rem;
}
.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

/*Index Page */

.splash {
  display: block;
  background: url("../img/map_green.png") no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 90vh;
  padding-top: 15vh;
}




/* book section container*/
#korea_container {
  background: url("../img/korea_bg.png") no-repeat;
  background-size:cover;
  padding-top:14vh;


  

}
#japan_container{
  background: url("../img/tokyo_bg.png") no-repeat;
  background-size:cover;
  padding-top:14vh;

}

.book {
  width:60vw;
  height:80vh;
  background-color: rgba(157, 159, 161, 0.8);
  border-style: none;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
  padding-bottom: 2vh;
  
}
.book p {
  padding: 4vh 2vw;
}
.blurb{
  padding-top:4vh;
  padding-bottom: 4vh;
  height: 100vh;
  
}

.blurb h3 {
  background-color: #ff6100;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-style: none;
  color: #333;
  padding:3vh 0;
}
.blurb i {
  color: #e3e3e3;
  font-size: 2rem;
  padding-top: 1rem;
}


.book img {
  border-radius: 15px;
  height: 35vh;
  width: 35vh;
  cursor: pointer;
}

/* light box in book section */

#lightbox {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
#lightbox img {
  max-height: 80%;
  max-width: 90%;
  border-radius: 15px;
  padding: 10px;
}
/* Book Buttons */
i.fas {
  padding: 2vh 5vw;
  color: #333;
}
i.fas:hover{
  color:#ff6100;
}
i.fab {
  padding: 0 5vw;
  color: #333;
}
i.fab:hover{
  color:#ff6100;
}
/*author's page */
#author{
  background:url(../img/3.jpg);
  background-size: cover;

}
.choices{
  height: 100vh;
  display:flex;
}
.book_c{
  padding-top: 20vh;
  margin: 0 auto;

}
.choices{
  background: url(../img/transparent-seoul.png)no-repeat;
  background-position: center;
  background-size:cover;
}
.c_books{
  filter: drop-shadow(10px 2px 4px #333);

  height: 400px;
  width:400px;
  border-radius:50%;
  padding: 5vh;
  transition: transform .3s; /*animation */ 


}
.c_books:hover{
  cursor: pointer;
  transform: scale(1.2);
  
}

#EJpic{
  cursor: none;
  filter: drop-shadow(10px 2px 4px #333);
  border-radius: 15px;
  margin-top: 1vh;
  flex-direction:row;

}

@media screen and (min width:481){
  
}

/*small screen sizes */

@media screen and (max-width: 480px) {
  body {
    font-size: 0.8em;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .nav-item a:hover {
    color: #eff3f2;
    transition: all 200ms ease-in;
  }
  #navi{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;


  }
  
  .quote{
    background: #e3e3e3;
    width:100vw;
    height:auto;
    padding: 1rem 0;
    padding-left: 2vw;
    text-align:center;    
  
  }
  .nav-list {
    background: #ff6100;
    
    display: flex;
    height: 6vh;
    width: 100vw;
    align-content:space-between;
  }
  .nav-list li{
    padding-right: 5vw;
  }

  .icon {
    background: #ff6100;

    cursor: pointer;
    float: right;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 6vw;
    margin: 0;
    width: 100%;
    z-index: 100;
  }
  #ham-icon {
    float: right;
  }
  .nav {
    display: none;
  }

  .splash {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    padding-top: 10vh;
  }
  #main_logo {
    filter: drop-shadow(10px 2px 4px #333);
    height: 50vh;
    overflow: hidden;
    padding-top: 4vh;
    position: relative;
  }
  .j_jbanner {
    align-items: center;
    filter: drop-shadow(10px 2px 4px #333);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  #banner_logo {
    width: 100%;
  }
  .sectioninfo {
    display:flex;
    flex-direction: column;
    justify-content:center;

  }
  
  
  .content_container {
    overflow: hidden;
    background:none;
    padding-top:15vh;
  }
  

  
  
  .book {
    height: 100%;
    width:90vw;
    background-color: rgba(157, 159, 161, 0.8);
    border-style: none;
    border-radius: 15px;
    overflow:visible;
    
  }
  
  
  .book p{
    padding-top:1vh;
    margin: 0 20px;
  }
  
  .blurb h2 {
    background-color: #ff6100;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-style: none;
    color: #eff3f2;
    padding:3vh 0;
  }
  .blurb i {
    color: #e3e3e3;
    font-size: 1rem;
    padding-top: 1rem;
  }
  #korea_container {
    background:none;
    height: auto;
    
  
  }
  #japan_container{
    background: none;
  }
  
  .book img {
    border-radius: 15px;
    height: 40vh;
    width: 40vh;
    cursor: pointer;
  }
  .book img {
    border-radius: 15px;
    height: 40vh;
    width: 40vh;
    cursor: pointer;
  }
  
  #choices{
    display: flex;
    flex-direction: column;
    
  }
  #book-container{
    padding-top:4vh;
  }
  .c_books{
    filter: drop-shadow(10px 2px 4px #333);
    height: 275px;
    width:275px;
    border-radius:50%;
    padding: 2vh;
    transition: none !important;
  }
  .c_books:hover{
    cursor: pointer;
    transform: none;
    
  }
  /* Book Buttons */
i.fas {
  display:none;
}

i.fab {
  padding: 0 5vw;
  color: #333;
  font-size: 2em;
}
i.fab:hover{
  color:#ff6100;
}

  /* Author */
#author{
  background-image: none;
}
.amzlink{
  height: 8vh;
  
}
  .author_container {
    display: block;
    background-position: center;
    background-size: 25%;
    color: #f0f3f2;
    height: 100vh;
    padding-top: 10vh;
    width: 100%;
  }
  .author_container h1 {
    font-size: 2em;
  }

  .author_container p {
    padding-top: 4vh;
    font-size: 2em;
  }
  #EJpic{
    scale: 75%;
  }
}
/*books */
/*medium screen sizes */

@media screen and (min-width: 481px) and (max-width: 900px) {
  body {
    font-size: 0.8em;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .nav-item a:hover {
    color: #eff3f2;
    transition: all 200ms ease-in;
  }
  #navi{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;


  }
  
  .quote{
    background: #e3e3e3;
    width:100vw;
    height:auto;
    padding: 1rem 0;
    padding-left: 2vw;
    text-align:center;    
  
  }
  .nav-list {
    background: #ff6100;
    
    display: flex;
    height: 6vh;
    width: 100vw;
    align-content:space-between;
  }
  .nav-list li{
    padding-right: 5vw;
  }

  .icon {
    background: #ff6100;

    cursor: pointer;
    float: right;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 6vw;
    margin: 0;
    width: 100%;
    z-index: 100;
  }
  #ham-icon {
    float: right;
  }
  .nav {
    display: none;
  }

  .splash {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: hidden;
    padding-top: 10vh;
  }
  #main_logo {
    filter: drop-shadow(10px 2px 4px #333);
    height: 50vh;
    overflow: hidden;
    padding-top: 4vh;
    position: relative;
  }
  .j_jbanner {
    align-items: center;
    filter: drop-shadow(10px 2px 4px #333);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #banner_logo {
    width: 100%;
  }
  .sectioninfo {
    display:flex;
    flex-direction: column;
    justify-content:center;

  }
  
  
  .content_container {
    overflow: hidden;
    background:none;
    padding-top:15vh;

  }
  

  
  
  .book {
    min-height: 34vh;
    max-height: 70vh;
    width:90vw;
    background-color: rgba(157, 159, 161, 0.8);
    border-style: none;
    border-radius: 15px;
    overflow:visible;
    display: flex;
    margin-top: 10vh;
  }
  
  
  .book p{
    padding-top:8vh;
    margin: 0 20px;
  }
  
  /*edit book label here*/
  .blurb h3 {
    background-color: #ff6100;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    min-height: 262px;
    border-style: none;
    color: #eff3f2;
    padding: 8vh 2vw;
    vertical-align: middle;

  }
  .blurb i {
    color: #e3e3e3;
    font-size: 1rem;
    padding-top: 1rem;
  }
  #korea_container {
    background:none;
    height: auto;

    
  
  }
  #japan_container{
    background: none;
  }
  
  .book img {
    border-radius: 15px;
    height: 50vh;
    width: 50vh;
    cursor: pointer;
    margin-left: 4vh;
    margin-top: 10vh;
  }
  
  
  #choices{
    display: flex;
    flex-direction: column;
    
  }
  #book-container{
    padding-top:10vh;
  }
  .c_books{
    filter: drop-shadow(10px 2px 4px #333);
    border-radius:50%;
    height: 60vh;
    width: 60vh;
    transition: none !important;
  }
  .c_books:hover{
    cursor: pointer;
    transform: none;
    
  }
  /* Book Buttons */
i.fas {
  display:none;
}

i.fab {
  padding: 20vh 5vw;
  color: #333;
  font-size: 2em;
}
i.fab:hover{
  color:#ff6100;
}

  /* Author */
#author{
  background-image: none;
}
.amzlink{
  height: 8vh;
  
}
  .author_container {
    display: block;
    background-position: center;
    background-size: 25%;
    color: #f0f3f2;
    height: 100vh;
    padding-top: 10vh;
    width: 100%;
  }
  .author_container h1 {
    font-size: 2em;
  }

  .author_container p {
    padding-top: 4vh;
    font-size: 2em;
  }
  #EJpic{
    scale: 75%;
  }
}
